@page "/"

<PageTitle>Index</PageTitle>
<MudPaper Outlined="true" Class="border-0">
    <MudButton OnClick="clickedResetButton">RESET</MudButton>
</MudPaper>
<MudPaper MaxWidth="420px" Outlined="true" Class="border-0">
    <MudGrid>
        <MudItem >
            <MudTextField  @bind-Value="Value" Variant="Variant.Text" Immediate=true TextChanged="MyMethod"></MudTextField>
            <p>@time</p>
        </MudItem>
        <MudItem>
            @foreach (var button in Buttons)
            {
                <MudButton OnClick="@(() => Clicked(button.Key))">@button.Value.Caption</MudButton>
            }
        </MudItem>
    </MudGrid>
    <MudPaper Outlined="true" Class="border-0">
        <h2>Wartość: @otherValue</h2>
    </MudPaper>
    <MudPaper Outlined="true" Class="border-0">
    <MudList>
        @foreach (var message in ClickedButtons)
            {
                <MudListItem><li>Kliknięto przycisk: @message</li></MudListItem>
            }
    </MudList>
    </MudPaper>
</MudPaper>


